# Временные файлы Python
__pycache__/
*.pyc

# Файл локальной базы данных
db.sqlite3

# Виртуальное окружение
venv/
.venv/
env/

# Файлы IDE (например, от VS Code)
.vscode/

# Папка с медиафайлами (загруженными пользователями) - можно добавить, если она большая
# media/